.post-content {
	// Post defaults.
	@extend .fs-5;

	p {
		@extend .mb-4; // Add a large line break on each paragraph.
	}

	img {
		max-width: 100%;
	}

	code {
		background-color: $gray-100;
		border-radius: 3px;
		padding: 2px 4px;
	}

	// Code blocks must be clearly delimited.
	pre {
		background-color: $gray-100;
		border: solid 1px $gray-300;
		border-radius: 3px;
		overflow-x: auto;
		padding: $spacer;
		white-space: pre;
		word-break: break-all;
		word-wrap: break-word;

		code {
			padding: initial;
		}
	}
}
