// Colour palette.
$primary: #d32d3a;
$secondary: #8e97a9;
$success: #8ac766;
$danger: #dc5761;
$info: #4aa3ed;
$warning: #e1b666;
$light: #ffffff;
$dark: #282c34;

// Fonts.
$font-family-sans-serif: 'Roboto', 'Helvetica', Arial, sans-serif;

// Remove rounded corners.
$enable-rounded: false;
