// Colour palette.
$primary: #07345b;
$secondary: #78909c;
$success: #11d3dc;
$danger: #f67280;
$info: #a2d5f2;
$warning: #ffe869;
$light: #ffffff;
$dark: #4e4e4e;

// Remove rounded corners.
$enable-rounded: false;
